@model Vidly.ViewModels.IndexCustomersViewModel
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 >Customers</h2>

<ul>
	@foreach (var customer in Model.Customers)
	{
	<li>@Html.Raw(Html.ActionLink(customer.Name, "list", "customers", new { id = customer.Id }, null))</li>
	}
</ul>
